<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbAssetMapper">
  <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbAsset">
    <!--@mbg.generated-->
    <!--@Table tb_asset-->
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="CompanyID" jdbcType="INTEGER" property="companyID" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Vendor" jdbcType="VARCHAR" property="vendor" />
    <result column="Unit" jdbcType="TINYINT" property="unit" />
    <result column="Type" jdbcType="TINYINT" property="type" />
    <result column="WarnValue" jdbcType="INTEGER" property="warnValue" />
    <result column="Comparison" jdbcType="OTHER" property="comparison" />
    <result column="ExValue" jdbcType="VARCHAR" property="exValue" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CreateUserID" jdbcType="INTEGER" property="createUserID" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, CompanyID, `Name`, Vendor, Unit, `Type`, WarnValue, Comparison, ExValue, CreateTime, 
    CreateUserID, UpdateTime, UpdateUserID
  </sql>
</mapper>