<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbCheckPointGroupMapper">
    <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbCheckPointGroup">
        <!--@Table tb_check_point_group-->
        <id column="ID" property="ID"/>
        <result column="ProjectID" property="projectID"/>
        <result column="Name" property="name"/>
        <result column="ExValue" property="exValue"/>
        <result column="CreateUserID" property="createUserID"/>
        <result column="CreateTime" property="createTime"/>
        <result column="UpdateUserID" property="updateUserID"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, ProjectID, `Name`, ExValue, CreateUserID, CreateTime, UpdateUserID, UpdateTime
    </sql>

    <select id="list" resultType="cn.shmedo.monitor.monibotbaseapi.model.dto.checkpoint.CheckPointGroupSimple">
        SELECT tcpg.ID,
               tcpg.`Name`,
               tcpg.ProjectID,
               tcpg.ExValue,
               COUNT(tcp.ID) pointCount
        FROM tb_check_point_group tcpg
                 LEFT JOIN tb_check_point tcp ON tcp.GroupID = tcpg.ID
        <where>
            <trim prefixOverrides="AND">
                <choose>
                    <when test="projectList != null and projectList.size() != 0">
                        <foreach collection="projectList" open="AND tcpg.ProjectID IN (" close=")" item="item">
                            #{item}
                        </foreach>
                    </when>
                    <otherwise>
                        AND FALSE
                    </otherwise>
                </choose>
                <if test="keyword != null and keyword != ''">
                    AND tcpg.`Name` LIKE CONCAT('%', #{keyword}, '%')
                </if>
            </trim>
            GROUP BY tcpg.ID,
                     tcpg.`Name`,
                     tcpg.ProjectID,
                     tcpg.ExValue
            ORDER BY tcpg.ID DESC
        </where>
    </select>
</mapper>