<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbCheckTaskMapper">
  <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbCheckTask">
    <!--@Table tb_check_task-->
    <id column="ID" property="ID" />
    <result column="ProjectID" property="projectID" />
    <result column="SerialNumber" property="serialNumber" />
    <result column="CheckType" property="checkType" />
    <result column="Name" property="name" />
    <result column="Status" property="status" />
    <result column="TaskDate" property="taskDate" />
    <result column="BeginTime" property="beginTime" />
    <result column="EndTime" property="endTime" />
    <result column="CheckerID" property="checkerID" />
    <result column="Trajectory" property="trajectory" />
    <result column="Evaluate" property="evaluate" />
    <result column="ExValue" property="exValue" />
    <result column="CreateUserID" property="createUserID" />
    <result column="CreateTime" property="createTime" />
    <result column="UpdateUserID" property="updateUserID" />
    <result column="UpdateTime" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ProjectID, SerialNumber, CheckType, `Name`, `Status`, TaskDate, BeginTime, EndTime, 
    CheckerID, Trajectory, Evaluate, ExValue, CreateUserID, CreateTime, UpdateUserID, 
    UpdateTime
  </sql>


  <select id="selectListByCondition" resultType="cn.shmedo.monitor.monibotbaseapi.model.response.checkevent.TaskInfo">
      select ID,
             `Name`       as taskName,
             SerialNumber as taskSerialNumber,
             CheckType,
             `Status`,
             TaskDate,
             ProjectID
      from tb_check_task
      where TaskDate &gt;= #{param.begin}
        AND TaskDate &lt;= #{param.end}
      <if test="param.serviceID != null">
          AND projectID in (select ProjectID from tb_project_service_relation where serviceID = #{param.serviceID})
      </if>
      <if test="param.projectID != null">
          AND projectID = #{param.projectID}
      </if>
      <if test="userID != null">
          AND CheckerID = #{userID}
      </if>
  </select>
</mapper>