<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbDataWarnLogHistoryMapper">

    <insert id="insertOrUpdate" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `tb_data_warn_log_history` (`WarnLogID`, `WarnTime`, `WarnLevel`, `ExValue`)
        VALUES (#{warnLogID,jdbcType=INTEGER}, #{warnTime,jdbcType=TIMESTAMP}, #{warnLevel,jdbcType=INTEGER},
                #{exValue,jdbcType=VARCHAR})
        ON DUPLICATE KEY UPDATE `WarnLevel`= #{warnLevel,jdbcType=INTEGER}
    </insert>
</mapper>