<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbDeviceWarnLogMapper">

    <select id="selectDataWarnBaseInfoByID"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.warnlog.DeviceWarnLatestInfo">

    </select>
</mapper>