<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbEigenValueMapper">
    <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbEigenValue">
        <!--@mbg.generated-->
        <!--@Table tb_eigen_value-->
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="ProjectID" jdbcType="INTEGER" property="projectID"/>
        <result column="Scope" jdbcType="INTEGER" property="scope"/>
        <result column="MonitorItemID" jdbcType="INTEGER" property="monitorItemID"/>
        <result column="MonitorTypeFieldID" jdbcType="INTEGER" property="monitorTypeFieldID"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="Value" jdbcType="DOUBLE" property="value"/>
        <result column="UnitID" jdbcType="INTEGER" property="unitID"/>
        <result column="ExValue" jdbcType="VARCHAR" property="exValue"/>
        <result column="CreateUserID" jdbcType="INTEGER" property="createUserID"/>
        <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID"/>
        <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID,
        ProjectID,
        `Scope`,
        MonitorItemID,
        MonitorTypeFieldID,
        `Name`,
        `Value`,
        UnitID,
        ExValue,
        CreateUserID,
        CreateTime,
        UpdateUserID,
        UpdateTime
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_eigen_value
        where ID = #{ID,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from tb_eigen_value
        where ID = #{ID,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="ID"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbEigenValue" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_eigen_value (ProjectID, `Scope`, MonitorItemID,
                                    MonitorTypeFieldID, `Name`, `Value`,
                                    UnitID, ExValue, CreateUserID,
                                    CreateTime, UpdateUserID, UpdateTime)
        values (#{projectID,jdbcType=INTEGER}, #{scope,jdbcType=INTEGER}, #{monitorItemID,jdbcType=INTEGER},
                #{monitorTypeFieldID,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=DOUBLE},
                #{unitID,jdbcType=INTEGER}, #{exValue,jdbcType=VARCHAR}, #{createUserID,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP}, #{updateUserID,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyProperty="id" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbEigenValue"
            useGeneratedKeys="true">
        insert into tb_eigen_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectID != null">
                ProjectID,
            </if>
            <if test="scope != null">
                `Scope`,
            </if>
            <if test="monitorItemID != null">
                MonitorItemID,
            </if>
            <if test="monitorTypeFieldID != null">
                MonitorTypeFieldID,
            </if>
            <if test="name != null">
                `Name`,
            </if>
            <if test="value != null">
                `Value`,
            </if>
            <if test="unitID != null">
                UnitID,
            </if>
            <if test="exValue != null">
                ExValue,
            </if>
            <if test="createUserID != null">
                CreateUserID,
            </if>
            <if test="createTime != null">
                CreateTime,
            </if>
            <if test="updateUserID != null">
                UpdateUserID,
            </if>
            <if test="updateTime != null">
                UpdateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectID != null">
                #{projectID,jdbcType=INTEGER},
            </if>
            <if test="scope != null">
                #{scope,jdbcType=INTEGER},
            </if>
            <if test="monitorItemID != null">
                #{monitorItemID,jdbcType=INTEGER},
            </if>
            <if test="monitorTypeFieldID != null">
                #{monitorTypeFieldID,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=DOUBLE},
            </if>
            <if test="unitID != null">
                #{unitID,jdbcType=INTEGER},
            </if>
            <if test="exValue != null">
                #{exValue,jdbcType=VARCHAR},
            </if>
            <if test="createUserID != null">
                #{createUserID,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserID != null">
                #{updateUserID,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbEigenValue">
        <!--@mbg.generated-->
        update tb_eigen_value
        <set>
            <if test="projectID != null">
                ProjectID = #{projectID,jdbcType=INTEGER},
            </if>
            <if test="scope != null">
                `Scope` = #{scope,jdbcType=INTEGER},
            </if>
            <if test="monitorItemID != null">
                MonitorItemID = #{monitorItemID,jdbcType=INTEGER},
            </if>
            <if test="monitorTypeFieldID != null">
                MonitorTypeFieldID = #{monitorTypeFieldID,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                `Name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                `Value` = #{value,jdbcType=DOUBLE},
            </if>
            <if test="unitID != null">
                UnitID = #{unitID,jdbcType=INTEGER},
            </if>
            <if test="exValue != null">
                ExValue = #{exValue,jdbcType=VARCHAR},
            </if>
            <if test="createUserID != null">
                CreateUserID = #{createUserID,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                CreateTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserID != null">
                UpdateUserID = #{updateUserID,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbEigenValue">
        <!--@mbg.generated-->
        update tb_eigen_value
        set ProjectID          = #{projectID,jdbcType=INTEGER},
            `Scope`            = #{scope,jdbcType=INTEGER},
            MonitorItemID      = #{monitorItemID,jdbcType=INTEGER},
            MonitorTypeFieldID = #{monitorTypeFieldID,jdbcType=INTEGER},
            `Name`             = #{name,jdbcType=VARCHAR},
            `Value`            = #{value,jdbcType=DOUBLE},
            UnitID             = #{unitID,jdbcType=INTEGER},
            ExValue            = #{exValue,jdbcType=VARCHAR},
            CreateUserID       = #{createUserID,jdbcType=INTEGER},
            CreateTime         = #{createTime,jdbcType=TIMESTAMP},
            UpdateUserID       = #{updateUserID,jdbcType=INTEGER},
            UpdateTime         = #{updateTime,jdbcType=TIMESTAMP}
        where ID = #{ID,jdbcType=INTEGER}
    </update>

    <select id="selectCountByProjectIDAndItemIDAndFiledIDAndName" resultType="java.lang.Integer">
        select count(1)
        from tb_eigen_value
        where ProjectID = #{projectID,jdbcType=INTEGER}
          and MonitorItemID = #{monitorItemID,jdbcType=INTEGER}
          and MonitorTypeFieldID = #{monitorTypeFieldID,jdbcType=INTEGER}
          and `Name` = #{name,jdbcType=VARCHAR}
    </select>

    <select id="selectListByCondition"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.eigenValue.EigenValueInfoV1">
        select ev.ID,
               ev.ProjectID,
               ev.`Scope`,
               ev.MonitorItemID,
               ev.MonitorTypeFieldID,
               ev.`Name`,
               ev.`Value`,
               ev.UnitID,
               ev.ExValue,
               ev.CreateUserID,
               ev.CreateTime,
               ev.UpdateUserID,
               ev.UpdateTime,
               du.ChnUnit,
               du.EngUnit,
               mtf.FieldName as monitorTypeFieldName,
               mi.Name       as MonitorItemName
        from tb_eigen_value ev
                 left join tb_data_unit du on du.ID = ev.UnitID
                 left join tb_monitor_type_field mtf on mtf.ID = ev.MonitorTypeFieldID
                 left join tb_monitor_item mi on mi.ID = ev.MonitorItemID
        where ev.ProjectID = #{projectID}
        <if test="monitorItemID != null">
            and ev.monitorItemID = #{monitorItemID}
        </if>
        <if test="monitorPointIDList != null and monitorPointIDList.size != 0">
            and ev.ID in (
            select EigenValueID
            from tb_eigen_value_relation where MonitorPointID in
            <foreach close=")" collection="monitorPointIDList" item="itemID" open="(" separator=",">
                #{itemID}
            </foreach>
            )
        </if>
    </select>

    <select id="selectBaseInfoByIDList" resultType="cn.shmedo.monitor.monibotbaseapi.model.response.thematicDataAnalysis.ThematicEigenValueData">
      SELECT
          mp.`MonitorType` monitorType,
          ev.`ID` eigenValueID,
          ev.`Name` eigenValueName,
          ev.`Value` eigenValue,
          du.`ChnUnit` chnUnit,
          du.`EngUnit` engUnit
      FROM
          tb_eigen_value ev
          LEFT JOIN tb_data_unit du ON du.`ID` = ev.`UnitID`
          LEFT JOIN tb_eigen_value_relation evr ON evr.`EigenValueID` = ev.`ID`
          LEFT JOIN tb_monitor_point mp ON mp.`ID` = evr.`MonitorPointID`
      WHERE ev.ID IN
      <foreach collection="eigenValueIDList" item="item" open="(" close=")" index="index" separator=",">
          #{item}
      </foreach>
      <if test="monitorPointIDList != null and monitorPointIDList.size > 0">
          AND mp.`ID` IN
          <foreach collection="monitorPointIDList" item="item" index="index" open="(" close=")" separator=",">
              #{item}
          </foreach>
      </if>
    </select>
    <select id="selectFieldInfoByPointIDList"
          resultType="cn.shmedo.monitor.monibotbaseapi.model.response.thematicDataAnalysis.ThematicEigenValueInfo">
    SELECT
        ev.ProjectID projectID,
        ev.MonitorItemID monitorItemID,
        evr.MonitorPointID monitorPointID,
        mtf.MonitorType monitorType,
        mtf.FieldToken fieldToken,
        ev.ID eigenValueID,
        ev.`Name` eigenValueName,
        ev.`Value` eigenValue,
        du.ChnUnit chnUnit,
        du.EngUnit engUnit
    FROM tb_eigen_value_relation evr
        LEFT JOIN tb_eigen_value ev ON ev.ID = evr.EigenValueID
        LEFT JOIN tb_data_unit du ON du.ID = ev.UnitID
        LEFT JOIN tb_monitor_type_field mtf ON mtf.ID = ev.MonitorTypeFieldID
    WHERE evr.MonitorPointID IN
    <foreach collection="monitorPointIDList" item="item" index="index" open="(" close=")" separator=",">
        #{item}
    </foreach>
  </select>
    <select id="selectCountByProjectIDAndItemIDAndFiledIDAndNameAndID" resultType="java.lang.Integer">
        select count(1)
        from tb_eigen_value
        where ProjectID = #{projectID,jdbcType=INTEGER}
          and MonitorItemID = #{monitorItemID,jdbcType=INTEGER}
          and MonitorTypeFieldID = #{monitorTypeFieldID,jdbcType=INTEGER}
          and `Name` = #{name,jdbcType=VARCHAR}
          and ID != #{eigenValueID}
    </select>

    <delete id="deleteByEigenValueIDList">
        delete
        from tb_eigen_value
        where ID in
        <foreach collection="eigenValueIDList" item="eigenValueID" separator="," index="index" open="(" close=")">
            #{eigenValueID}
        </foreach>
    </delete>

    <select id="selectByIDs"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.monitorpointdata.EigenBaseInfo">
        select ev.ID         as id,
               ev.projectID,
               ev.scope,
               ev.monitorItemID,
               ev.monitorTypeFieldID,
               mtf.FieldName as monitorTypeFieldName,
               ev.name,
               ev.value,
               mtf.fieldUnitID,
               du.engUnit,
               du.chnUnit
        from tb_eigen_value ev
                 left join tb_monitor_type_field mtf on mtf.ID = ev.monitorTypeFieldID
                 left join tb_data_unit du on du.ID = mtf.fieldUnitID
        where ev.ID in
        <foreach collection="eigenValueIDList" item="eigenValueID" separator="," index="index" open="(" close=")">
            #{eigenValueID}
        </foreach>
    </select>
</mapper>