<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbEigenValueRelationMapper">
    <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbEigenValueRelation">
        <!--@mbg.generated-->
        <!--@Table tb_eigen_value_relation-->
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="EigenValueID" jdbcType="INTEGER" property="eigenValueID"/>
        <result column="MonitorPointID" jdbcType="INTEGER" property="monitorPointID"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID,
        EigenValueID,
        MonitorPointID
    </sql>

    <delete id="deleteByEigenValueIDList">
        delete
        from tb_eigen_value_relation
        where EigenValueID in
        <foreach collection="eigenValueIDList" item="eigenValueID" separator="," index="index" open="(" close=")">
            #{eigenValueID}
        </foreach>
    </delete>

    <select id="selectByIDs" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_eigen_value_relation where
            EigenValueID in
        <foreach collection="eigenValueIDList" item="eigenValueID" separator="," index="index" open="(" close=")">
            #{eigenValueID}
        </foreach>
    </select>

</mapper>