<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbMonitorGroupMapper">
    <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbMonitorGroup">
        <!--@mbg.generated-->
        <!--@Table tb_monitor_group-->
        <id column="ID" jdbcType="INTEGER" property="ID"/>
        <result column="ParentID" jdbcType="INTEGER" property="parentID"/>
        <result column="ProjectID" jdbcType="INTEGER" property="projectID"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="Enable" jdbcType="BIT" property="enable"/>
        <result column="ImagePath" jdbcType="VARCHAR" property="imagePath"/>
        <result column="ExValue" jdbcType="VARCHAR" property="exValue"/>
        <result column="DisplayOrder" jdbcType="INTEGER" property="displayOrder"/>
        <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="CreateUserID" jdbcType="INTEGER" property="createUserID"/>
        <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID,
        ParentID,
        ProjectID,
        `Name`,
        `Enable`,
        ImagePath,
        ExValue,
        DisplayOrder,
        CreateTime,
        CreateUserID,
        UpdateTime,
        UpdateUserID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_monitor_group
        where ID = #{ID,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from tb_monitor_group
        where ID = #{ID,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="ID"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbMonitorGroup" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_monitor_group (ParentID, ProjectID, `Name`,
                                      `Enable`, ImagePath, ExValue,
                                      DisplayOrder, CreateTime, CreateUserID,
                                      UpdateTime, UpdateUserID)
        values (#{parentID,jdbcType=INTEGER}, #{projectID,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
                #{enable,jdbcType=BIT}, #{imagePath,jdbcType=VARCHAR}, #{exValue,jdbcType=VARCHAR},
                #{displayOrder,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUserID,jdbcType=INTEGER},
                #{updateTime,jdbcType=TIMESTAMP}, #{updateUserID,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="ID" keyProperty="ID"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbMonitorGroup" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_monitor_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentID != null">
                ParentID,
            </if>
            <if test="projectID != null">
                ProjectID,
            </if>
            <if test="name != null">
                `Name`,
            </if>
            <if test="enable != null">
                `Enable`,
            </if>
            <if test="imagePath != null">
                ImagePath,
            </if>
            <if test="exValue != null">
                ExValue,
            </if>
            <if test="displayOrder != null">
                DisplayOrder,
            </if>
            <if test="createTime != null">
                CreateTime,
            </if>
            <if test="createUserID != null">
                CreateUserID,
            </if>
            <if test="updateTime != null">
                UpdateTime,
            </if>
            <if test="updateUserID != null">
                UpdateUserID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentID != null">
                #{parentID,jdbcType=INTEGER},
            </if>
            <if test="projectID != null">
                #{projectID,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BIT},
            </if>
            <if test="imagePath != null">
                #{imagePath,jdbcType=VARCHAR},
            </if>
            <if test="exValue != null">
                #{exValue,jdbcType=VARCHAR},
            </if>
            <if test="displayOrder != null">
                #{displayOrder,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserID != null">
                #{createUserID,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserID != null">
                #{updateUserID,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbMonitorGroup">
        <!--@mbg.generated-->
        update tb_monitor_group
        <set>
            <if test="parentID != null">
                ParentID = #{parentID,jdbcType=INTEGER},
            </if>
            <if test="projectID != null">
                ProjectID = #{projectID,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                `Name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                `Enable` = #{enable,jdbcType=BIT},
            </if>
            <if test="imagePath != null">
                ImagePath = #{imagePath,jdbcType=VARCHAR},
            </if>
            <if test="exValue != null">
                ExValue = #{exValue,jdbcType=VARCHAR},
            </if>
            <if test="displayOrder != null">
                DisplayOrder = #{displayOrder,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                CreateTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserID != null">
                CreateUserID = #{createUserID,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserID != null">
                UpdateUserID = #{updateUserID,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{ID,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbMonitorGroup">
        <!--@mbg.generated-->
        update tb_monitor_group
        set ParentID     = #{parentID,jdbcType=INTEGER},
            ProjectID    = #{projectID,jdbcType=INTEGER},
            `Name`       = #{name,jdbcType=VARCHAR},
            `Enable`     = #{enable,jdbcType=BIT},
            ImagePath    = #{imagePath,jdbcType=VARCHAR},
            ExValue      = #{exValue,jdbcType=VARCHAR},
            DisplayOrder = #{displayOrder,jdbcType=INTEGER},
            CreateTime   = #{createTime,jdbcType=TIMESTAMP},
            CreateUserID = #{createUserID,jdbcType=INTEGER},
            UpdateTime   = #{updateTime,jdbcType=TIMESTAMP},
            UpdateUserID = #{updateUserID,jdbcType=INTEGER}
        where ID = #{ID,jdbcType=INTEGER}
    </update>

    <update id="updateImg">
        update tb_monitor_group
        set ImagePath    = #{path},
            UpdateTime   = #{date},
            UpdateUserID = #{userID}
        where ID = #{groupID}
    </update>
    <select id="queryPage" resultType="cn.shmedo.monitor.monibotbaseapi.model.response.monitorgroup.Group4Web">
        select *
        from tb_monitor_group
        <where>
            ProjectID = #{projectID}
            <if test=" groupName != null and groupName != ''">
                and `Name` like concat('%', #{groupName}, '%')
            </if>
            <if test="parented">
                and ParentID is null
            </if>
            <if test="monitorItemID != null">
                and id in
                (select MonitorGroupID from tb_monitor_group_item where MonitorItemID = #{monitorItemID})
            </if>
            <if test="secondaryGroupName != null and secondaryGroupName != ''">
                and id in
                (select ParentID from tb_monitor_group where ParentID is not null and `Name` like concat('%', #{secondaryGroupName}, '%'))
            </if>
        </where>
        order by id desc
    </select>
    <select id="queryGroup4WebByParentIDs"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.monitorgroup.Group4Web">
        select *
        from tb_monitor_group
        where ParentID in
        <foreach close=")" collection="parentIDList" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </select>


    <select id="selectCountByName" resultType="java.lang.Integer">
        select Count(1)
        from tb_monitor_group
        where name = #{name}
          and projectID = #{projectID}
        <if test="flag == true">
            and ParentID is not null
        </if>
        <if test="flag == false">
            and ParentID is null
        </if>
    </select>

    <select id="queryList" resultType="cn.shmedo.monitor.monibotbaseapi.model.response.monitorgroup.Group4Web">
        select *
        from tb_monitor_group
        <where>
            ProjectID = #{projectID}
            <if test=" groupName != null and groupName != ''">
                and `Name` like concat('%', #{groupName}, '%')
            </if>
            <if test="parented">
                and ParentID is null
            </if>
            <if test="monitorItemID != null">
                and id in
                (select MonitorGroupID from tb_monitor_group_item where MonitorItemID = #{monitorItemID})
            </if>
            <if test="secondaryGroupName != null and secondaryGroupName != ''">
                and id in
                (select ParentID from tb_monitor_group where ParentID is not null and `Name` like concat('%', #{secondaryGroupName}, '%'))
            </if>
        </where>
        order by id desc
    </select>
    <select id="queryMonitorGroupItemNameList"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.monitorgroup.SimpleMonitorInfo"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.param.monitorgroup.QueryMonitorGroupItemNameListParam">
        SELECT
            tmg.ID groupID,
            tmg.`Name` groupName,
            tmg.`Enable` enable
        FROM
            tb_monitor_group tmg
                LEFT JOIN tb_monitor_group_item tmgi ON tmg.ID = tmgi.MonitorGroupID
                LEFT JOIN tb_monitor_item tmi ON tmi.ID = tmgi.MonitorItemID
        WHERE tmi.`Name` LIKE CONCAT('%',#{monitorItemName},'%')
        AND tmg.ProjectID=#{projectID}
    </select>
    <select id="queryProjectGroupInfoList"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.monitorgroup.ProjectGroupPlainInfo"
            parameterType="java.lang.Integer">
        SELECT
            tmp.ID monitorPointID,
            tmp.`Name` monitorPointName,
            tmp.`Enable` monitorPointEnable,
            tmt.MultiSensor multiSensor,
            tmg1.ID monitorGroupID,
            tmg1.`Name` monitorGroupName,
            tmg1.`Enable` monitorGroupEnable,
            tmg2.ID monitorGroupParentID,
            tmg2.`Name` monitorGroupParentName,
            tmg2.`Enable` monitorGroupParentEnable,
            ts.ID sensorID,
            ts.`Name` sensorName,
            ts.Alias sensorAlias
        FROM
            tb_monitor_point tmp
            LEFT JOIN tb_monitor_type tmt ON tmt.MonitorType = tmp.MonitorType
            LEFT JOIN tb_monitor_group_point tmgp ON tmgp.MonitorPointID = tmp.ID
            LEFT JOIN tb_monitor_group tmg1 ON tmg1.ID = tmgp.MonitorGroupID
            LEFT JOIN tb_monitor_group tmg2 ON tmg1.ParentID = tmg2.ID
            LEFT JOIN tb_sensor ts ON ts.MonitorPointID = tmp.ID
        WHERE tmg1.ID IS NOT NULL AND tmg2.ID IS NOT NULL AND tmp.ProjectID =#{projectID}
    </select>
</mapper>