<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbProjectMonitorClassMapper">
    <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbProjectMonitorClass">
        <!--@mbg.generated-->
        <!--@Table tb_project_monitor_class-->
        <id column="ID" jdbcType="INTEGER" property="ID"/>
        <result column="MonitorClass" jdbcType="INTEGER" property="monitorClass"/>
        <result column="ProjectID" jdbcType="INTEGER" property="projectID"/>
        <result column="Enable" jdbcType="BIT" property="enable"/>
        <result column="Density" jdbcType="VARCHAR" property="density"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID,
        MonitorClass,
        ProjectID,
        `Enable`,
        Density
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_project_monitor_class
        where ID = #{ID,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from tb_project_monitor_class
        where ID = #{ID,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="ID"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbProjectMonitorClass" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_project_monitor_class (MonitorClass, ProjectID, `Enable`,
                                              Density)
        values (#{monitorClass,jdbcType=INTEGER}, #{projectID,jdbcType=INTEGER}, #{enable,jdbcType=BIT},
                #{density,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="ID" keyProperty="ID"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbProjectMonitorClass" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_project_monitor_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="monitorClass != null">
                MonitorClass,
            </if>
            <if test="projectID != null">
                ProjectID,
            </if>
            <if test="enable != null">
                `Enable`,
            </if>
            <if test="density != null">
                Density,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="monitorClass != null">
                #{monitorClass,jdbcType=INTEGER},
            </if>
            <if test="projectID != null">
                #{projectID,jdbcType=INTEGER},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BIT},
            </if>
            <if test="density != null">
                #{density,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbProjectMonitorClass">
        <!--@mbg.generated-->
        update tb_project_monitor_class
        <set>
            <if test="monitorClass != null">
                MonitorClass = #{monitorClass,jdbcType=INTEGER},
            </if>
            <if test="projectID != null">
                ProjectID = #{projectID,jdbcType=INTEGER},
            </if>
            <if test="enable != null">
                `Enable` = #{enable,jdbcType=BIT},
            </if>
            <if test="density != null">
                Density = #{density,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{ID,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbProjectMonitorClass">
        <!--@mbg.generated-->
        update tb_project_monitor_class
        set MonitorClass = #{monitorClass,jdbcType=INTEGER},
            ProjectID    = #{projectID,jdbcType=INTEGER},
            `Enable`     = #{enable,jdbcType=BIT},
            Density      = #{density,jdbcType=VARCHAR}
        where ID = #{ID,jdbcType=INTEGER}
    </update>


    <insert id="insertByCondition" parameterType="cn.shmedo.monitor.monibotbaseapi.model.param.project.UpdateWtMonitorClassParam">
        insert into tb_project_monitor_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="monitorClass != null">
                MonitorClass,
            </if>
            <if test="projectID != null">
                ProjectID,
            </if>
            <if test="enable != null">
                `Enable`,
            </if>
            <if test="density != null">
                Density,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="monitorClass != null">
                #{monitorClass,jdbcType=INTEGER},
            </if>
            <if test="projectID != null">
                #{projectID,jdbcType=INTEGER},
            </if>
            <if test="enable != null">
                #{enable},
            </if>
            <if test="density != null">
                #{density,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByCondition"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.param.project.UpdateWtMonitorClassParam">
        update tb_project_monitor_class
        <set>
            <if test="enable != null">
                `Enable` = #{enable,jdbcType=BIT},
            </if>
            <if test="density != null">
                Density = #{density,jdbcType=VARCHAR},
            </if>
        </set>
        where ProjectID = #{projectID,jdbcType=INTEGER}
          and MonitorClass = #{monitorClass,jdbcType=INTEGER}
    </update>
</mapper>