<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbProjectPropertyMapper">
  <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbProjectProperty">
    <!--@mbg.generated-->
    <!--@Table tb_project_property-->
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="SubjectType" jdbcType="INTEGER" property="subjectType" />
    <result column="ProjectID" jdbcType="INTEGER" property="projectID" />
    <result column="PropertyID" jdbcType="INTEGER" property="propertyID" />
    <result column="Value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, SubjectType, ProjectID, PropertyID, `Value`
  </sql>

    <update id="updateBatch">
        update tb_project_property set
        <trim prefix="Value = case" suffix="end">
            <foreach collection="projectPropertyList" index="index" item="item">
                when PropertyID = #{item.propertyID} then #{item.value}
            </foreach>
        </trim>
        where PropertyID in
        <foreach close=")" collection="projectPropertyList" item="item" open="(" separator=",">
            #{item.propertyID}
        </foreach>
        and ProjectID = #{projectID,jdbcType=INTEGER}
        and subjectType = #{propertySubjectType}
    </update>

    <insert id="insertBatch">
        insert into tb_project_property(ProjectID, PropertyID, Value, subjectType) value
        <foreach collection="list" item="item" separator=",">
            (#{item.projectID}, #{item.propertyID}, #{item.value}, #{item.subjectType})
        </foreach>
    </insert>

    <select id="getPropertyValue" resultType="java.lang.String">
        SELECT
        DISTINCT tpp.`Value`
        FROM
        `tb_project_property` tpp
        LEFT JOIN `tb_project_info` tpi ON tpi.ID = tpp.ProjectID
        LEFT JOIN `tb_property` tp ON tp.ID = tpp.PropertyID
        <where>
            <trim suffixOverrides="AND">
                <if test="companyID != null">
                    tpi.CompanyID = #{companyID} AND
                </if>
                <if test="projectID != null">
                    tpi.ID = #{projectID} AND
                </if>
                <choose>
                    <when test="modelType == null">
                        tpp.subjectType  = 1 and
                    </when>
                    <otherwise>
                        tpp.subjectType = #{modelType} and
                    </otherwise>
                </choose>
                <if test="projectType != null">
                    tpi.ProjectType = #{projectType} AND
                </if>
                <if test="propertyName != null">
                    tp.`Name` = #{propertyName} AND
                </if>
                <if test="createType != null">
                    tp.CreateType = #{createType} AND
                </if>
            </trim>
        </where>
    </select>

    <select id="queryPropertyByProjectID" resultType="cn.shmedo.monitor.monibotbaseapi.model.dto.PropertyDto">
        SELECT
            tpp.ID, tpp.ProjectID, tpp.PropertyID, tpp.Value, tp.`Name`, tp.`Type`, tp.`Unit`,
            tp.`Required`,tp.`MultiSelect`, tp.`EnumField`, tp.`CreateType`,  tp.`ClassName`, tp.`DisplayOrder`,
            tp.`ModelID`, tp.`ExValue`
        FROM `tb_property` tp
                 LEFT JOIN `tb_project_property` tpp ON tp.ID = tpp.PropertyID
        <where>
            <trim prefixOverrides="AND">
                <if test="createType != null">
                    tp.CreateType = #{createType}
                </if>
                <if test="propertySubjectType != null">
                   and tpp.subjectType = #{propertySubjectType}
                </if>
                <if test="list != null and list.size() &gt; 0">
                    AND tpp.ProjectID IN
                    <foreach close=")" collection="list" item="item" open="(" separator=",">
                        #{item}
                    </foreach>
                </if>
            </trim>
            order by tp.DisplayOrder
        </where>
    </select>
    <delete id="deleteProjectPropertyList" parameterType="java.lang.Integer">
        DELETE tb_project_property from tb_project_property where ProjectID in
        <foreach close=")" collection="idList" item="item" open="(" separator=",">
            #{item}
        </foreach>
        and subjectType = #{propertySubjectType}
    </delete>

    <select id="queryPidByProps" resultType="java.lang.Integer">
        SELECT ProjectID
        FROM
        (SELECT tpp.ProjectID, COUNT(1) size
         FROM `tb_project_property` tpp
                  LEFT JOIN tb_property tp ON tpp.PropertyID = tp.ID
        <where>
            <trim suffixOverrides="AND">
                <if test="projectIDList != null and projectIDList.size() > 0">
                    tpp.ProjectID IN
                    <foreach open="(" close=") AND" collection="projectIDList" item="item" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="subjectType != null">
                    tpp.subjectType = #{subjectType.type}
                      AND
                </if>
                <if test="props != null and props.size() != 0">
                    <foreach collection="props" item="item" index="index" separator="OR" open="(" close=") AND">
                        <foreach collection="item.t1" item="name" separator="OR" open="(" close=")">
                            (tp.`Name` = #{name} AND
                            <choose>
                                <when test="item.t3 != null and item.t3">
                                        tpp.`Value` LIKE CONCAT('%', #{item.t2}, '%')
                                </when>
                                <otherwise>
                                    tpp.`Value` = #{item.t2}
                                </otherwise>
                            </choose>
                            )
                        </foreach>
                    </foreach>
                </if>
            </trim>
            GROUP BY tpp.ProjectID
        </where>
        )t
        WHERE size = ${props.size()}
    </select>

    <select id="queryPropByPids" resultType="cn.shmedo.monitor.monibotbaseapi.model.dto.PropWithValue">
        SELECT tpp.ProjectID projectID,
               tp.`Name`     name,
               tp.GroupID    groupID,
               tp.Type       type,
               tpp.`Value`   value
        FROM `tb_project_property` tpp
                 LEFT JOIN tb_property tp ON tp.ID = tpp.PropertyID
        WHERE
        <trim suffixOverrides="AND">
            <if test="subjectType != null">
                tpp.subjectType = #{subjectType.type} AND
            </if>
            <if test="projectIDList != null and projectIDList.size() != 0">
                <foreach collection="projectIDList" item="item" index="index" separator="," open="tpp.ProjectID IN  ("
                         close=") AND">
                    tpp.ProjectID = #{item}
                </foreach>
            </if>
            <if test="propNames != null and propNames.size() != 0">
                <foreach collection="propNames" item="item" index="index" separator="," open="tp.`Name` IN  ("
                         close=") AND">
                    tp.`Name` = #{item}
                </foreach>
            </if>
        </trim>
        ORDER BY tpp.ProjectID DESC
    </select>
</mapper>