<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbPropertyModelMapper">
    <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbPropertyModel">
        <!--@mbg.generated-->
        <!--@Table tb_property_model-->
        <id column="ID" jdbcType="INTEGER" property="ID"/>
        <result column="CompanyID" jdbcType="INTEGER" property="companyID"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="Platform" jdbcType="VARCHAR" property="platform"/>
        <result column="ModelType" jdbcType="INTEGER" property="modelType"/>
        <result column="ModelTypeSubType" jdbcType="INTEGER" property="modelTypeSubType"/>
        <result column="GroupID" jdbcType="TINYINT" property="groupID"/>
        <result column="CreateType" jdbcType="TINYINT" property="createType"/>
        <result column="Desc" jdbcType="VARCHAR" property="desc"/>
        <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="CreateUserID" jdbcType="INTEGER" property="createUserID"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, CompanyID, `Name`, Platform, ModelType, ModelTypeSubType, GroupID, CreateType, `Desc`, CreateTime,
        CreateUserID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_property_model
        where ID = #{ID,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from tb_property_model
        where ID = #{ID,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="ID"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbPropertyModel" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_property_model (CompanyID, CreateType, `Name`, Platform, ModelType, ModelTypeSubType, GroupID,
        `Desc`, CreateTime, CreateUserID)
        values (#{companyID,jdbcType=INTEGER},
        #{createType,jdbcType=TINYINT},
        #{name,jdbcType=VARCHAR},
        #{platform,jdbcType=VARCHAR},
        #{modelType,jdbcType=INTEGER},
        #{modelTypeSubType,jdbcType=INTEGER},
        #{groupID,jdbcType=INTEGER},
        #{desc,jdbcType=VARCHAR},
        #{createTime,jdbcType=DATE},
        #{createUserID,jdbcType=INTEGER})
    </insert>
    <select id="queryModel4WebBy" resultType="cn.shmedo.monitor.monibotbaseapi.model.response.Model4Web">
        select *
        from tb_property_model where ProjectType = #{projectType}
        <if test="createType != null">
            and createType = #{createType}
        </if>
    </select>

    <select id="countByName" resultType="int">
        select count(1)
        from tb_property_model
        where Name = #{modelName}
    </select>

    <update id="updateBatchById">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tb_property_model
            <set>
                <if test="item.groupID != null and item.groupID != ''">
                    GroupID=#{item.groupID,jdbcType=INTEGER},
                </if>
            </set>
            where ID = #{item.ID,jdbcType=INTEGER}
        </foreach>
    </update>

</mapper>