<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbReportMapper">
    <select id="queryBaseReportInfo"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.report.TbBaseReportInfo">
        SELECT
            tmp.`Name` monitorPointName,
            tmp.MonitorType monitorType,
            tpi.ProjectName projectName,
            tpt.TypeName projectTypeName,
            ts.ID sensorID,
            IF(ts.`Status` IS NULL,-1,ts.`Status`) "status",
            tmt.TypeName monitorTypeName,
            (CASE tmi.MonitorClass WHEN 0 THEN '环境监测' WHEN 1 THEN '安全监测' WHEN 4 THEN '视频监测' ELSE '其它' END ) monitorTypeClass,
            tmi.`Name` monitorItemName,
            TRIM( BOTH '"' FROM JSON_EXTRACT( tpi.Location, "$.town" ) ) areaCode,
            t1.customColumn,
            t2.upperName,
            t3.fieldTokenUpperNames
        FROM
            tb_monitor_point tmp
            LEFT JOIN tb_project_info tpi ON tpi.ID = tmp.ProjectID
            LEFT JOIN tb_monitor_type tmt ON tmt.MonitorType = tmp.MonitorType
            LEFT JOIN tb_sensor ts ON ts.MonitorPointID = tmp.ID
            LEFT JOIN tb_monitor_item tmi ON tmi.ID = tmp.MonitorItemID
            LEFT JOIN tb_project_type tpt ON tpt.ID = tpi.ProjectType
            LEFT JOIN (
                SELECT
                    tmi1.ID monitorItemID,
                    GROUP_CONCAT( "{", tmtf.FieldName, (CASE tdu.EngUnit WHEN NULL THEN '' WHEN '' THEN '' ELSE CONCAT("(", tdu.EngUnit, ")") END), ":", tmtf.FieldToken, "}" ) customColumn
                FROM
                    tb_monitor_item tmi1
                    LEFT JOIN tb_monitor_item_field tmif ON tmif.MonitorItemID = tmi1.ID
                    LEFT JOIN tb_monitor_type_field tmtf ON tmtf.ID = tmif.MonitorTypeFieldID
                    LEFT JOIN tb_data_unit tdu ON tdu.ID = tmtf.FieldUnitID
                WHERE tmtf.FieldClass IN (1,2)
                GROUP BY tmi1.ID
            ) t1 ON t1.monitorItemID = tmi.ID
            LEFT JOIN (
                SELECT
                    TRIM( BOTH '"' FROM JSON_EXTRACT( twt.CompareRule, "$.upperName" ) ) upperName,
                    tmp2.ID MonitorPointID
                FROM
                    tb_warn_log twl
                    LEFT JOIN tb_monitor_point tmp2 ON twl.MonitorPointID = tmp2.ID
                    LEFT JOIN tb_sensor ts2 ON ts2.MonitorPointID = tmp2.ID
                    LEFT JOIN tb_warn_trigger twt ON twt.ID = twl.triggerID
                    LEFT JOIN ( SELECT MAX( WarnTime ) latest_time, MonitorPointID FROM tb_warn_log GROUP BY MonitorPointID ) twl1 ON twl.MonitorPointID = twl1.MonitorPointID
                WHERE
                    twl1.latest_time = twl.WarnTime
                    AND ts2.`Status` IN ( 1, 2, 3, 4 )
            ) t2 ON t2.MonitorPointID = tmp.ID
            LEFT JOIN (
                SELECT
                    tmp.ID monitorPointID,
                    GROUP_CONCAT( "{", twt.FieldToken, ":", TRIM( BOTH '"' FROM JSON_EXTRACT( twt.CompareRule, "$.upperName" ) ) ,"}" ) fieldTokenUpperNames
                FROM
                    tb_monitor_point tmp
                        LEFT JOIN tb_warn_rule twr ON twr.MonitorPointID = tmp.ID
                        LEFT JOIN tb_warn_trigger twt ON twt.RuleID = twr.ID
                GROUP BY tmp.ID
            ) t3 ON t3.monitorPointID = tmp.ID
        WHERE tpi.CompanyID = #{companyID}
            AND tmi.MonitorClass IN (0,1,4)
            AND tmt.TypeName IS NOT NULL
            AND tmp.CreateTime &lt;= #{endTime}
    </select>
    <select id="queryProjectReportInfo"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.report.TbBaseReportInfo">
        SELECT
            tpi.ProjectName projectName,
            tmp.MonitorType monitorType,
            ts.ID sensorID,
            IF(ts.`Status` IS NULL,-1,ts.`Status`) "status",
            tmt.TypeName monitorTypeName,
            t2.upperName
        FROM
            tb_project_info tpi
            LEFT JOIN tb_monitor_point tmp ON tpi.ID = tmp.ProjectID
            LEFT JOIN tb_monitor_type tmt ON tmt.MonitorType = tmp.MonitorType
            LEFT JOIN tb_sensor ts ON ts.MonitorPointID = tmp.ID
            LEFT JOIN (
                SELECT
                    TRIM( BOTH '"' FROM JSON_EXTRACT( twt.CompareRule, "$.upperName" ) ) upperName,
                    tmp2.ID MonitorPointID
                FROM
                    tb_warn_log twl
                    LEFT JOIN tb_monitor_point tmp2 ON twl.MonitorPointID = tmp2.ID
                    LEFT JOIN tb_sensor ts2 ON ts2.MonitorPointID = tmp2.ID
                    LEFT JOIN tb_warn_trigger twt ON twt.ID = twl.triggerID
                    LEFT JOIN ( SELECT MAX( WarnTime ) latest_time, MonitorPointID FROM tb_warn_log GROUP BY MonitorPointID ) twl1 ON twl.MonitorPointID = twl1.MonitorPointID
                WHERE
                    twl1.latest_time = twl.WarnTime
                  AND ts2.`Status` IN ( 1, 2, 3, 4 )
            ) t2 ON t2.MonitorPointID = tmp.ID
        WHERE tpi.ID IN
            <foreach collection="projectIDList" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            AND IF(tmp.ID IS NULL,1=1,tmp.CreateTime &lt;= #{endTime})
    </select>
</mapper>