<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbSensorDataSourceMapper">
  <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbSensorDataSource">
    <!--@mbg.generated-->
    <!--@Table tb_sensor_data_source-->
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="DataSourceID" jdbcType="VARCHAR" property="dataSourceID" />
    <result column="DataSourceType" jdbcType="INTEGER" property="dataSourceType" />
    <result column="DataSourceToken" jdbcType="VARCHAR" property="dataSourceToken" />
    <result column="TemplateDataSourceToken" jdbcType="VARCHAR" property="templateDataSourceToken" />
    <result column="DataSourceComposeType" jdbcType="INTEGER" property="dataSourceComposeType" />
    <result column="ExValues" jdbcType="VARCHAR" property="exValues" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, DataSourceID, DataSourceType, DataSourceToken, TemplateDataSourceToken, DataSourceComposeType, 
    ExValues
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_sensor_data_source
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_sensor_data_source
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="ID" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbSensorDataSource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_sensor_data_source (DataSourceID, DataSourceType, DataSourceToken, 
      TemplateDataSourceToken, DataSourceComposeType, 
      ExValues)
    values (#{dataSourceID,jdbcType=VARCHAR}, #{dataSourceType,jdbcType=INTEGER}, #{dataSourceToken,jdbcType=VARCHAR}, 
      #{templateDataSourceToken,jdbcType=VARCHAR}, #{dataSourceComposeType,jdbcType=INTEGER}, 
      #{exValues,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="ID" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbSensorDataSource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_sensor_data_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataSourceID != null">
        DataSourceID,
      </if>
      <if test="dataSourceType != null">
        DataSourceType,
      </if>
      <if test="dataSourceToken != null">
        DataSourceToken,
      </if>
      <if test="templateDataSourceToken != null">
        TemplateDataSourceToken,
      </if>
      <if test="dataSourceComposeType != null">
        DataSourceComposeType,
      </if>
      <if test="exValues != null">
        ExValues,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataSourceID != null">
        #{dataSourceID,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceType != null">
        #{dataSourceType,jdbcType=INTEGER},
      </if>
      <if test="dataSourceToken != null">
        #{dataSourceToken,jdbcType=VARCHAR},
      </if>
      <if test="templateDataSourceToken != null">
        #{templateDataSourceToken,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceComposeType != null">
        #{dataSourceComposeType,jdbcType=INTEGER},
      </if>
      <if test="exValues != null">
        #{exValues,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbSensorDataSource">
    <!--@mbg.generated-->
    update tb_sensor_data_source
    <set>
      <if test="dataSourceID != null">
        DataSourceID = #{dataSourceID,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceType != null">
        DataSourceType = #{dataSourceType,jdbcType=INTEGER},
      </if>
      <if test="dataSourceToken != null">
        DataSourceToken = #{dataSourceToken,jdbcType=VARCHAR},
      </if>
      <if test="templateDataSourceToken != null">
        TemplateDataSourceToken = #{templateDataSourceToken,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceComposeType != null">
        DataSourceComposeType = #{dataSourceComposeType,jdbcType=INTEGER},
      </if>
      <if test="exValues != null">
        ExValues = #{exValues,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbSensorDataSource">
    <!--@mbg.generated-->
    update tb_sensor_data_source
    set DataSourceID = #{dataSourceID,jdbcType=VARCHAR},
      DataSourceType = #{dataSourceType,jdbcType=INTEGER},
      DataSourceToken = #{dataSourceToken,jdbcType=VARCHAR},
      TemplateDataSourceToken = #{templateDataSourceToken,jdbcType=VARCHAR},
      DataSourceComposeType = #{dataSourceComposeType,jdbcType=INTEGER},
      ExValues = #{exValues,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>

  <resultMap id="dataSourceWithSensorMap" extends="BaseResultMap"
             type="cn.shmedo.monitor.monibotbaseapi.model.dto.sensor.DataSourceWithSensor">
    <collection property="sensorInfoList" ofType="cn.shmedo.monitor.monibotbaseapi.model.db.TbSensor">
      <id column="SID" jdbcType="INTEGER" property="ID" />
      <result column="ProjectID" jdbcType="INTEGER" property="projectID" />
      <result column="TemplateID" jdbcType="INTEGER" property="templateID" />
      <result column="DataSourceID" jdbcType="VARCHAR" property="dataSourceID" />
      <result column="DataSourceComposeType" jdbcType="INTEGER" property="dataSourceComposeType" />
      <result column="MonitorType" jdbcType="INTEGER" property="monitorType" />
      <result column="Name" jdbcType="VARCHAR" property="name" />
      <result column="Alias" jdbcType="VARCHAR" property="alias" />
      <result column="Kind" jdbcType="TINYINT" property="kind" />
      <result column="DisplayOrder" jdbcType="INTEGER" property="displayOrder" />
      <result column="MonitorPointID" jdbcType="INTEGER" property="monitorPointID" />
      <result column="ConfigFieldValue" jdbcType="VARCHAR" property="configFieldValue" />
      <result column="SExValues" jdbcType="VARCHAR" property="exValues" />
      <result column="Status" jdbcType="TINYINT" property="status" />
      <result column="WarnNoData" jdbcType="BIT" property="warnNoData" />
      <result column="MonitorBeginTime" jdbcType="TIMESTAMP" property="monitorBeginTime" />
      <result column="ImagePath" jdbcType="VARCHAR" property="imagePath" />
      <result column="Enable" jdbcType="BIT" property="enable" />
      <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
      <result column="CreateUserID" jdbcType="INTEGER" property="createUserID" />
      <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID" />
    </collection>
  </resultMap>

  <select id="selectDataSourceWithSensor" resultMap="dataSourceWithSensorMap"
          parameterType="cn.shmedo.monitor.monibotbaseapi.model.param.sensor.SourceWithSensorRequest"
          resultType="cn.shmedo.monitor.monibotbaseapi.model.dto.sensor.DataSourceWithSensor">
    SELECT
      tds.*,ts.ID AS SID, ts.ProjectID, ts.TemplateID, ts.DataSourceID, ts.DataSourceComposeType, ts.MonitorType,
      ts.`Name`,ts.`Alias`, ts.Kind, ts.DisplayOrder, ts.MonitorPointID, ts.ConfigFieldValue, ts.ExValues AS SExValues,
      ts.`Status`,ts.WarnNoData, ts.MonitorBeginTime, ts.ImagePath, ts.`Enable`, ts.CreateTime, ts.CreateUserID,
      ts.UpdateTime, ts.UpdateUserID
    FROM
      `tb_sensor_data_source` tds
        LEFT JOIN `tb_sensor` ts ON tds.DataSourceID = ts.DataSourceID
    WHERE ts.Enable = 1 AND
      <trim suffixOverrides="AND">
        <if test="projectID != null">
          ts.ProjectID = #{projectID,jdbcType=INTEGER} AND
        </if>
        <if test="dataSourceComposeType != null">
          tds.DataSourceComposeType = #{dataSourceComposeType,jdbcType=INTEGER} AND
        </if>
        <if test="dataSourceToken != null and dataSourceToken != ''">
          tds.DataSourceToken = #{dataSourceToken,jdbcType=VARCHAR} AND
        </if>
      </trim>
  </select>
</mapper>