<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbTemplateDataSourceMapper">
  <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbTemplateDataSource">
    <!--@mbg.generated-->
    <!--@Table tb_template_data_source-->
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="TemplateDataSourceID" jdbcType="VARCHAR" property="templateDataSourceID" />
    <result column="DataSourceType" jdbcType="INTEGER" property="dataSourceType" />
    <result column="TemplateDataSourceToken" jdbcType="VARCHAR" property="templateDataSourceToken" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, TemplateDataSourceID, DataSourceType, TemplateDataSourceToken
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_template_data_source
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_template_data_source
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="ID" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbTemplateDataSource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_template_data_source (TemplateDataSourceID, DataSourceType, 
      TemplateDataSourceToken)
    values (#{templateDataSourceID,jdbcType=VARCHAR}, #{dataSourceType,jdbcType=INTEGER}, 
      #{templateDataSourceToken,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="ID" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbTemplateDataSource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_template_data_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateDataSourceID != null">
        TemplateDataSourceID,
      </if>
      <if test="dataSourceType != null">
        DataSourceType,
      </if>
      <if test="templateDataSourceToken != null">
        TemplateDataSourceToken,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateDataSourceID != null">
        #{templateDataSourceID,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceType != null">
        #{dataSourceType,jdbcType=INTEGER},
      </if>
      <if test="templateDataSourceToken != null">
        #{templateDataSourceToken,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbTemplateDataSource">
    <!--@mbg.generated-->
    update tb_template_data_source
    <set>
      <if test="templateDataSourceID != null">
        TemplateDataSourceID = #{templateDataSourceID,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceType != null">
        DataSourceType = #{dataSourceType,jdbcType=INTEGER},
      </if>
      <if test="templateDataSourceToken != null">
        TemplateDataSourceToken = #{templateDataSourceToken,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbTemplateDataSource">
    <!--@mbg.generated-->
    update tb_template_data_source
    set TemplateDataSourceID = #{templateDataSourceID,jdbcType=VARCHAR},
      DataSourceType = #{dataSourceType,jdbcType=INTEGER},
      TemplateDataSourceToken = #{templateDataSourceToken,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch">
    insert into tb_template_data_source (TemplateDataSourceID, DataSourceType,
    TemplateDataSourceToken)
    values <foreach collection="list" item="item" separator=",">
    (#{item.templateDataSourceID,jdbcType=VARCHAR}, #{item.dataSourceType,jdbcType=INTEGER},
    #{item.templateDataSourceToken,jdbcType=VARCHAR})
  </foreach>
  </insert>

  <delete id="deleteByTemplateIDList">
      delete
      from tb_template_data_source where TemplateDataSourceID in (select TemplateDataSourceID
                                                                  from tb_monitor_type_template where id in
      <foreach collection="list" item="id" open="(" close=")" separator=",">
          #{id}
      </foreach>
      )
  </delete>
</mapper>