<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbVideoPresetPointMapper">
  <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbVideoPresetPoint">
    <!--@mbg.generated-->
    <!--@Table tb_video_preset_point-->
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="videoDeviceID" jdbcType="INTEGER" property="videoDeviceID" />
    <result column="PresetPointName" jdbcType="VARCHAR" property="presetPointName" />
    <result column="PresetPointIndex" jdbcType="INTEGER" property="presetPointIndex" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, VideoDeviceID, PresetPointName, PresetPointIndex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_video_preset_point
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_video_preset_point
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="ID" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbVideoPresetPoint" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_video_preset_point (ViedoDeviceID, PresetPointName, PresetPointIndex
      )
    values (#{videoDeviceID,jdbcType=INTEGER}, #{presetPointName,jdbcType=VARCHAR}, #{presetPointIndex,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="ID" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbVideoPresetPoint" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_video_preset_point
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="videoDeviceID != null">
        VideoDeviceID,
      </if>
      <if test="presetPointName != null">
        PresetPointName,
      </if>
      <if test="presetPointIndex != null">
        PresetPointIndex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="videoDeviceID != null">
        #{videoDeviceID,jdbcType=INTEGER},
      </if>
      <if test="presetPointName != null">
        #{presetPointName,jdbcType=VARCHAR},
      </if>
      <if test="presetPointIndex != null">
        #{presetPointIndex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbVideoPresetPoint">
    <!--@mbg.generated-->
    update tb_video_preset_point
    <set>
      <if test="videoDeviceID != null">
        videoDeviceID = #{videoDeviceID,jdbcType=INTEGER},
      </if>
      <if test="presetPointName != null">
        PresetPointName = #{presetPointName,jdbcType=VARCHAR},
      </if>
      <if test="presetPointIndex != null">
        PresetPointIndex = #{presetPointIndex,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbVideoPresetPoint">
    <!--@mbg.generated-->
    update tb_video_preset_point
    set VideoDeviceID = #{videoDeviceID,jdbcType=INTEGER},
      PresetPointName = #{presetPointName,jdbcType=VARCHAR},
      PresetPointIndex = #{presetPointIndex,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>