<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbWarnRuleMapper">
  <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbWarnRule">
    <!--@mbg.generated-->
    <!--@Table tb_warn_rule-->
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="RuleType" jdbcType="TINYINT" property="ruleType" />
    <result column="ProjectID" jdbcType="INTEGER" property="projectID" />
    <result column="MonitorType" jdbcType="INTEGER" property="monitorType" />
    <result column="MonitorItemID" jdbcType="INTEGER" property="monitorItemID" />
    <result column="MonitorPointID" jdbcType="INTEGER" property="monitorPointID" />
    <result column="SensorID" jdbcType="INTEGER" property="sensorID" />
    <result column="ProductID" jdbcType="INTEGER" property="productID" />
    <result column="DeviceCSV" jdbcType="LONGVARCHAR" property="deviceCSV" />
    <result column="VideoType" jdbcType="VARCHAR" property="videoType" />
    <result column="VideoCSV" jdbcType="LONGVARCHAR" property="videoCSV" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Enable" jdbcType="BIT" property="enable" />
    <result column="ExValue" jdbcType="VARCHAR" property="exValue" />
    <result column="Desc" jdbcType="VARCHAR" property="desc" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CreateUserID" jdbcType="INTEGER" property="createUserID" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, RuleType, ProjectID, MonitorType, MonitorItemID, MonitorPointID, SensorID, ProductID,
    DeviceCSV, VideoType, VideoCSV, `Name`, `Enable`, ExValue, `Desc`, CreateTime, CreateUserID,
    UpdateTime, UpdateUserID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from tb_warn_rule
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_warn_rule
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="ID" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbWarnRule" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_warn_rule (RuleType, ProjectID, MonitorType,
      MonitorItemID, MonitorPointID, SensorID,
      ProductID, DeviceCSV, VideoType,
      VideoCSV, `Name`, `Enable`,
      ExValue, `Desc`, CreateTime,
      CreateUserID, UpdateTime, UpdateUserID
      )
    values (#{ruleType,jdbcType=TINYINT}, #{projectID,jdbcType=INTEGER}, #{monitorType,jdbcType=INTEGER},
      #{monitorItemID,jdbcType=INTEGER}, #{monitorPointID,jdbcType=INTEGER}, #{sensorID,jdbcType=INTEGER},
      #{productID,jdbcType=INTEGER}, #{deviceCSV,jdbcType=LONGVARCHAR}, #{videoType,jdbcType=VARCHAR},
      #{videoCSV,jdbcType=LONGVARCHAR}, #{name,jdbcType=VARCHAR}, #{enable,jdbcType=BIT},
      #{exValue,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{createUserID,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserID,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="ID" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbWarnRule" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_warn_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ruleType != null">
        RuleType,
      </if>
      <if test="projectID != null">
        ProjectID,
      </if>
      <if test="monitorType != null">
        MonitorType,
      </if>
      <if test="monitorItemID != null">
        MonitorItemID,
      </if>
      <if test="monitorPointID != null">
        MonitorPointID,
      </if>
      <if test="sensorID != null">
        SensorID,
      </if>
      <if test="productID != null">
        ProductID,
      </if>
      <if test="deviceCSV != null">
        DeviceCSV,
      </if>
      <if test="videoType != null">
        VideoType,
      </if>
      <if test="videoCSV != null">
        VideoCSV,
      </if>
      <if test="name != null">
        `Name`,
      </if>
      <if test="enable != null">
        `Enable`,
      </if>
      <if test="exValue != null">
        ExValue,
      </if>
      <if test="desc != null">
        `Desc`,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="createUserID != null">
        CreateUserID,
      </if>
      <if test="updateTime != null">
        UpdateTime,
      </if>
      <if test="updateUserID != null">
        UpdateUserID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ruleType != null">
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="projectID != null">
        #{projectID,jdbcType=INTEGER},
      </if>
      <if test="monitorType != null">
        #{monitorType,jdbcType=INTEGER},
      </if>
      <if test="monitorItemID != null">
        #{monitorItemID,jdbcType=INTEGER},
      </if>
      <if test="monitorPointID != null">
        #{monitorPointID,jdbcType=INTEGER},
      </if>
      <if test="sensorID != null">
        #{sensorID,jdbcType=INTEGER},
      </if>
      <if test="productID != null">
        #{productID,jdbcType=INTEGER},
      </if>
      <if test="deviceCSV != null">
        #{deviceCSV,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoType != null">
        #{videoType,jdbcType=VARCHAR},
      </if>
      <if test="videoCSV != null">
        #{videoCSV,jdbcType=LONGVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=BIT},
      </if>
      <if test="exValue != null">
        #{exValue,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserID != null">
        #{createUserID,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserID != null">
        #{updateUserID,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbWarnRule">
    <!--@mbg.generated-->
    update tb_warn_rule
    <set>
      <if test="ruleType != null">
        RuleType = #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="projectID != null">
        ProjectID = #{projectID,jdbcType=INTEGER},
      </if>
      <if test="monitorType != null">
        MonitorType = #{monitorType,jdbcType=INTEGER},
      </if>
      <if test="monitorItemID != null">
        MonitorItemID = #{monitorItemID,jdbcType=INTEGER},
      </if>
      <if test="monitorPointID != null">
        MonitorPointID = #{monitorPointID,jdbcType=INTEGER},
      </if>
      <if test="sensorID != null">
        SensorID = #{sensorID,jdbcType=INTEGER},
      </if>
      <if test="productID != null">
        ProductID = #{productID,jdbcType=INTEGER},
      </if>
      <if test="deviceCSV != null">
        DeviceCSV = #{deviceCSV,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoType != null">
        VideoType = #{videoType,jdbcType=VARCHAR},
      </if>
      <if test="videoCSV != null">
        VideoCSV = #{videoCSV,jdbcType=LONGVARCHAR},
      </if>
      <if test="name != null">
        `Name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        `Enable` = #{enable,jdbcType=BIT},
      </if>
      <if test="exValue != null">
        ExValue = #{exValue,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        `Desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserID != null">
        CreateUserID = #{createUserID,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserID != null">
        UpdateUserID = #{updateUserID,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.shmedo.monitor.monibotbaseapi.model.db.TbWarnRule">
    <!--@mbg.generated-->
    update tb_warn_rule
    set RuleType = #{ruleType,jdbcType=TINYINT},
      ProjectID = #{projectID,jdbcType=INTEGER},
      MonitorType = #{monitorType,jdbcType=INTEGER},
      MonitorItemID = #{monitorItemID,jdbcType=INTEGER},
      MonitorPointID = #{monitorPointID,jdbcType=INTEGER},
      SensorID = #{sensorID,jdbcType=INTEGER},
      ProductID = #{productID,jdbcType=INTEGER},
      DeviceCSV = #{deviceCSV,jdbcType=LONGVARCHAR},
      VideoType = #{videoType,jdbcType=VARCHAR},
      VideoCSV = #{videoCSV,jdbcType=LONGVARCHAR},
      `Name` = #{name,jdbcType=VARCHAR},
      `Enable` = #{enable,jdbcType=BIT},
      ExValue = #{exValue,jdbcType=VARCHAR},
      `Desc` = #{desc,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      CreateUserID = #{createUserID,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      UpdateUserID = #{updateUserID,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>

    <select id="selectWarnRuleByPage" resultType="cn.shmedo.monitor.monibotbaseapi.model.db.TbWarnRule">
        SELECT
            twr.ID 'ID',
            twr.RuleType ruleType,
            twr.ProjectID projectID,
            twr.MonitorType monitorType,
            twr.MonitorItemID monitorItemID,
            twr.MonitorPointID monitorPointID,
            twr.SensorID sensorID,
            twr.ProductID productID,
            twr.DeviceCSV deviceCSV,
            twr.VideoType videoType,
            twr.VideoCSV videoCSV,
            twr.`Name` 'name',
            twr.`Enable` 'enable',
            twr.ExValue exValue,
            twr.`Desc` 'desc',
            twr.CreateTime createTime,
            twr.CreateUserID createUserID,
            twr.UpdateTime updateTime,
            twr.UpdateUserID updateUserID
        FROM
            tb_warn_rule twr
      LEFT JOIN ( SELECT twt.RuleID ruleID, GROUP_CONCAT( twt.`Name` ) warnNames FROM tb_warn_trigger twt GROUP BY twt.RuleID ) t ON t.ruleID = twr.ID
        WHERE twr.RuleType =#{param.ruleType}
        <if test="param.ruleType == 1">
          AND twr.`ProjectID` IN
          <foreach collection="projectIDList" item="item" index="index" open="(" close=")" separator=",">
              #{item}
          </foreach>
        </if>
        <if test="param.engineName != null and param.engineName !=''">
            AND twr.`Name` LIKE CONCAT('%',#{param.engineName},'%')
        </if>
        <if test="param.projectID != null">
            AND twr.`ProjectID`=#{param.projectID}
        </if>
        <if test="param.videoTypeName">
            AND twr.VideoType=#{param.videoTypeName}
        </if>
        <if test="param.enable != null">
            AND twr.`Enable`=#{param.enable}
        </if>
        <if test="param.monitorItemID != null">
            AND twr.`MonitorItemID`=#{param.monitorItemID}
        </if>
        <if test="param.monitorPointID != null">
            AND twr.`MonitorPointID`=#{param.monitorPointID}
        </if>
        <if test="param.ruleType == 2 and param.queryCode != null and param.queryCode != ''">
            AND (t.warnNames LIKE CONCAT('%',#{param.queryCode},'%') OR twr.ExValue LIKE CONCAT('%',#{param.queryCode},'%') OR twr.`Name` LIKE CONCAT('%',#{param.queryCode},'%'))
        </if>
        <if test="param.ruleType == 3 and param.queryCode != null and param.queryCode != ''">
            AND (t.warnNames LIKE CONCAT('%',#{param.queryCode},'%') OR twr.ExValue LIKE CONCAT('%',#{param.queryCode},'%') OR twr.`Name` LIKE CONCAT('%',#{param.queryCode},'%'))
        </if>
    </select>
    <select id="selectRuleWarnIDListByRuleIDList" resultType="integer" parameterType="list">
        SELECT
            twr.ID engineID
        FROM
            tb_warn_rule twr
        LEFT JOIN tb_warn_trigger twt ON twr.ID = twt.RuleID
        WHERE
            twt.ID IS NOT NULL
            AND IF(twr.RuleType = 1, twr.MonitorPointID IS NOT NULL, twr.ExValue IS NOT NULL AND twr.ExValue != '')
            AND twr.ID IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="selectWtEngineDetail"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.wtengine.WtEngineDetail"
            parameterType="java.lang.Integer">
        SELECT
            twr.ID engineID,
            twr.RuleType ruleType,
            twr.`Enable` `enable`,
            twr.`Name` engineName,
            twr.`Desc` engineDesc,
            tpi.ID projectID,
            tpi.ProjectName projectName,
            tmi.ID monitorItemID,
            tmi.`Name` monitorItemName,
            tmi.Alias monitorItemAlias,
            tmt.MonitorType monitorTypeID,
            tmt.TypeName monitorTypeName,
            tmt.TypeAlias monitorTypeAlias,
            tmp.ID monitorPointID,
            tmp.`Name` monitorPointName,
            twr.CreateTime createTime,
            twr.CreateUserID createUserID,
            twr.VideoType videoType,
            twr.ProductID productID,
            twr.DeviceCSV deviceCSV,
            twr.VideoCSV videoCSV
        FROM
            tb_warn_rule twr
            LEFT JOIN tb_monitor_item tmi ON twr.MonitorItemID = tmi.ID
            LEFT JOIN tb_project_info tpi ON twr.ProjectID = tpi.ID
            LEFT JOIN tb_monitor_type tmt ON twr.MonitorType = tmt.MonitorType
            LEFT JOIN tb_monitor_point tmp ON twr.MonitorPointID = tmp.ID
        WHERE twr.ID = #{engineID}
    </select>
</mapper>