<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbWarnLogMapper">
    <resultMap id="BaseResultMap" type="cn.shmedo.monitor.monibotbaseapi.model.db.TbWarnLog">
        <id column="ID" property="ID" jdbcType="INTEGER"/>
        <result column="WarnType" property="warnType" javaType="INTEGER"/>
        <result column="ProjectID" property="projectID" jdbcType="INTEGER"/>
        <result column="MonitorType" property="monitorType" jdbcType="INTEGER"/>
        <result column="MonitorItemID" property="monitorItemID" jdbcType="INTEGER"/>
        <result column="MonitorPointID" property="monitorPointID" jdbcType="INTEGER"/>
        <result column="SensorID" property="sensorID" jdbcType="INTEGER"/>
        <result column="Name" property="warnName" jdbcType="VARCHAR"/>
        <result column="WarnTime" property="warnTime" jdbcType="TIMESTAMP"/>
        <result column="WarnLevel" property="warnLevel" jdbcType="INTEGER"/>
        <result column="WarnContent" property="warnContent" jdbcType="VARCHAR"/>
        <result column="WorkOrderID" property="workOrderID" jdbcType="INTEGER"/>
        <result column="triggerID" property="triggerID" jdbcType="INTEGER"/>
        <result column="DeviceToken" property="deviceToken" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="terminalWarnLogMap" type="cn.shmedo.monitor.monibotbaseapi.model.response.warn.WtTerminalWarnLog">
        <result property="uniqueToken" column="uniqueToken" jdbcType="VARCHAR"/>
        <collection property="projectList" ofType="cn.shmedo.monitor.monibotbaseapi.model.response.warn.WtTerminalWarnLog$Project">
            <result property="projectID" column="projectID" jdbcType="INTEGER"/>
            <result property="projectName" column="projectName" jdbcType="VARCHAR"/>
            <result property="regionArea" column="regionArea" jdbcType="VARCHAR"/>
            <collection property="monitorPointList" ofType="cn.shmedo.monitor.monibotbaseapi.model.response.warn.WtTerminalWarnLog$MonitorPoint">
                <result property="monitorPointID" column="monitorPointID" jdbcType="INTEGER"/>
                <result property="monitorPointName" column="monitorPointName" jdbcType="VARCHAR"/>
                <result property="monitorTypeID" column="monitorTypeID" jdbcType="INTEGER"/>
                <result property="monitorTypeName" column="monitorTypeName" jdbcType="VARCHAR"/>
                <result property="monitorTypeAlias" column="monitorTypeAlias" jdbcType="VARCHAR"/>
                <result property="monitorItemID" column="monitorItemID" jdbcType="INTEGER"/>
                <result property="monitorItemName" column="monitorItemName" jdbcType="VARCHAR"/>
                <result property="installLocation" column="installLocation" jdbcType="VARCHAR"/>
                <result property="monitorPointLocation" column="monitorPointLocation" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        `ID`,`WarnType`,`ProjectID`,`MonitorType`,`MonitorItemID`,`MonitorPointID`,`SensorID`,`Name`,`WarnTime`,`WarnLevel`,`WarnContent`,`WorkOrderID`,`triggerID`,`DeviceToken`
    </sql>

    <select id="queryMonitorWarnPage" resultType="cn.shmedo.monitor.monibotbaseapi.model.response.warn.WtWarnLogInfo">
        SELECT
            twl.`ID` warnID,
            twl.WarnType warnType,
            twl.`Name` warnName,
            twl.WarnLevel warnLevel,
            twl.WarnTime warnTime,
            twl.WarnContent warnContent,
            tpi.`ID` projectID,
            tpi.ProjectName projectName,
            tmi.`ID` monitorItemID,
            tmi.`Name` monitorItemName,
            tmp.`ID` monitorPointID,
            tmp.`Name` monitorPointName,
            tmt.MonitorType monitorTypeID,
            tmt.TypeName monitorTypeName,
            tmt.TypeAlias monitorTypeAlias,
            two.`ID` workOrderID,
            two.OrderCode orderCode,
            two.`Status` orderStatus
        FROM
            tb_warn_log twl
            LEFT JOIN tb_project_info tpi ON twl.ProjectID = tpi.ID
            LEFT JOIN tb_monitor_item tmi ON twl.MonitorItemID = tmi.ID
            LEFT JOIN tb_monitor_type tmt ON twl.MonitorType = tmt.MonitorType
            LEFT JOIN tb_monitor_point tmp ON twl.MonitorPointID = tmp.ID
            LEFT JOIN tb_work_order two ON twl.WorkOrderID = two.ID
            LEFT JOIN ( SELECT MAX( WarnTime ) latest_time, MonitorPointID FROM tb_warn_log WHERE WarnType = 1 GROUP BY MonitorPointID ) twl1 ON twl.MonitorPointID = twl1.MonitorPointID
        <where>
            <choose>
                <when test="param.queryType == null or param.queryType == 2">
                    twl1.latest_time &gt; twl.WarnTime
                </when>
                <otherwise>
                    twl1.latest_time = twl.WarnTime
                </otherwise>
            </choose>
            AND twl.ProjectID IN
            <foreach collection="param.projectIDList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
            AND twl.WarnType = 1
            <if test="param.queryCode != null and param.queryCode != ''">
                AND (twl.`Name` LIKE CONCAT('%', #{param.queryCode}, '%')
                 OR twl.WarnContent LIKE CONCAT('%', #{param.queryCode}, '%'))
            </if>
            <if test="param.monitorTypeID != null">
                AND twl.monitorType=#{param.monitorTypeID}
            </if>
            <if test="param.monitorItemID != null">
                AND twl.monitorItemID=#{param.monitorItemID}
            </if>
            <if test="param.warnLevel != null">
                AND twl.warnLevel=#{param.warnLevel}
            </if>
        </where>
        <choose>
            <when test="param.orderType == null or param.orderType == 1">
                ORDER BY twl.WarnTime DESC
            </when>
            <when test="param.orderType == 2">
                ORDER BY twl.WarnTime ASC
            </when>
        </choose>
    </select>

    <select id="queryCameraWarnPage" resultType="cn.shmedo.monitor.monibotbaseapi.model.response.warn.WtWarnLogInfo">
        SELECT
        twl.`ID` warnID,
        twl.WarnType warnType,
        twl.`Name` warnName,
        twl.WarnLevel warnLevel,
        twl.WarnTime warnTime,
        twl.WarnContent warnContent,
        twl.DeviceToken deviceToken,
        tpi.`ID` projectID,
        tpi.ProjectName projectName,
        tmi.`ID` monitorItemID,
        tmi.`Name` monitorItemName,
        tmp.`ID` monitorPointID,
        tmp.`Name` monitorPointName,
        tmt.MonitorType monitorTypeID,
        tmt.TypeName monitorTypeName,
        tmt.TypeAlias monitorTypeAlias,
        two.`ID` workOrderID,
        two.OrderCode orderCode,
        two.`Status` orderStatus
        FROM
        tb_warn_log twl
        LEFT JOIN tb_project_info tpi ON twl.ProjectID = tpi.ID
        LEFT JOIN tb_monitor_item tmi ON twl.MonitorItemID = tmi.ID
        LEFT JOIN tb_monitor_type tmt ON twl.MonitorType = tmt.MonitorType
        LEFT JOIN tb_monitor_point tmp ON twl.MonitorPointID = tmp.ID
        LEFT JOIN tb_work_order two ON twl.WorkOrderID = two.ID
        LEFT JOIN ( SELECT MAX( WarnTime ) latest_time, DeviceToken FROM `tb_warn_log` WHERE WarnType = 2 GROUP BY DeviceToken ) twl1 ON twl.DeviceToken = twl1.DeviceToken
        <where>
            <choose>
                <when test="param.queryType == null or param.queryType == 2">
                    twl1.latest_time &gt; twl.WarnTime
                </when>
                <otherwise>
                    twl1.latest_time = twl.WarnTime
                </otherwise>
            </choose>
            AND twl.ProjectID IN
            <foreach collection="param.projectIDList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
            AND twl.WarnType = 2
            <if test="param.queryCode != null and param.queryCode != ''">
                AND (twl.`Name` LIKE CONCAT('%', #{param.queryCode}, '%')
                OR twl.DeviceToken LIKE CONCAT('%', #{param.queryCode}, '%')
                OR tmp.`Name` LIKE CONCAT('%', #{param.queryCode}, '%')
                OR tpi.ProjectName LIKE CONCAT('%', #{param.queryCode}, '%'))
            </if>
            <if test="param.monitorItemID != null">
                AND twl.monitorItemID=#{param.monitorItemID}
            </if>
            <if test="param.beginTime != null">
                AND twl.WarnTime &gt;= #{param.beginTime}
            </if>
            <if test="param.endTime != null">
                AND twl.WarnTime &lt;= #{param.endTime}
            </if>
            <if test="param.status != null">
                AND two.`Status`=#{param.status}
            </if>
        </where>
        <choose>
            <when test="param.orderType == null or param.orderType == 1">
                ORDER BY twl.WarnTime DESC
            </when>
            <when test="param.orderType == 2">
                ORDER BY twl.WarnTime ASC
            </when>
        </choose>
    </select>

    <select id="queryMonitorDetail" resultType="cn.shmedo.monitor.monibotbaseapi.model.response.warn.WtWarnDetailInfo"
            parameterType="java.lang.Integer">
        SELECT
            twl.`ID` warnID,
            twl.`Name` warnName,
            twl.WarnType warnType,
            tpi.`ID` projectID,
            tpi.ProjectName projectName,
            tmt.MonitorType monitorTypeID,
            tmt.MonitorType monitorType,
            tmt.TypeName monitorTypeName,
            tmt.TypeAlias monitorTypeAlias,
            tmi.`ID` monitorItemID,
            tmi.`Name` monitorItemName,
            twl.WarnLevel warnLevel,
            twl.WarnContent warnContent,
            tmp.`ID` monitorPointID,
            tmp.`Name` monitorPointName,
            tmp.GpsLocation monitorPointLocation,
            tmp.InstallLocation installLocation,
            twl.WarnTime warnTime,
            twt.CompareRule compareRule,
            twt.TriggerRule triggerRule,
            twt.FieldToken fieldToken,
            two.ID workOrderID,
            two.OrderCode workOrderCode
        FROM `tb_warn_log` twl
            LEFT JOIN tb_project_info tpi ON twl.ProjectID = tpi.ID
            LEFT JOIN tb_monitor_item tmi ON twl.MonitorItemID = tmi.ID
            LEFT JOIN tb_monitor_type tmt ON twl.MonitorType = tmt.MonitorType
            LEFT JOIN tb_monitor_point tmp ON twl.MonitorPointID = tmp.ID
            LEFT JOIN tb_warn_trigger twt ON twl.triggerID = twt.ID
            LEFT JOIN tb_work_order two ON twl.WorkOrderID = two.ID
        WHERE twl.`ID`=#{warnID}
    </select>

    <select id="queryCameraDetail" resultType="cn.shmedo.monitor.monibotbaseapi.model.response.warn.WtWarnDetailInfo">
        SELECT
            twl.`ID` warnID,
            twl.`Name` warnName,
            twl.WarnType warnType,
            twl.DeviceToken deviceToken,
            tpi.`ID` projectID,
            tpi.ProjectName projectName,
            tpi.Location regionArea,
            tmt.MonitorType monitorTypeID,
            tmt.MonitorType monitorType,
            tmt.TypeName monitorTypeName,
            tmt.TypeAlias monitorTypeAlias,
            tmi.`ID` monitorItemID,
            tmi.`Name` monitorItemName,
            twl.WarnLevel warnLevel,
            twl.WarnContent warnContent,
            tmp.`ID` monitorPointID,
            tmp.`Name` monitorPointName,
            tmp.GpsLocation monitorPointLocation,
            tmp.InstallLocation installLocation,
            twl.WarnTime warnTime,
            twt.CompareRule compareRule,
            twt.TriggerRule triggerRule,
            twt.FieldToken fieldToken,
            two.ID workOrderID,
            two.OrderCode workOrderCode,
            twr.`Name` ruleName
        FROM tb_warn_log twl
                 LEFT JOIN tb_project_info tpi ON twl.ProjectID = tpi.ID
                 LEFT JOIN tb_monitor_item tmi ON twl.MonitorItemID = tmi.ID
                 LEFT JOIN tb_monitor_type tmt ON twl.MonitorType = tmt.MonitorType
                 LEFT JOIN tb_monitor_point tmp ON twl.MonitorPointID = tmp.ID
                 LEFT JOIN tb_warn_trigger twt ON twl.triggerID = twt.ID
                 LEFT JOIN tb_work_order two ON twl.WorkOrderID = two.ID
                 LEFT JOIN `tb_warn_rule` twr ON twr.`ID` = twt.`RuleID`
        WHERE twl.`ID` = #{warnID}
    </select>

    <select id="queryWorkOrderWarnDetail"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.workorder.WtWorkOrderWarnDetail"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.param.workorder.QueryWorkOrderWarnDetailParam">
        SELECT
            tpi.ID projectID,
            tpi.ProjectName projectName,
            tpi.Location regionArea,
            tmt.MonitorType monitorTypeID,
            tmt.TypeName monitorTypeName,
            tmt.TypeAlias monitorTypeAlias,
            tmi.ID monitorItemID,
            tmi.`Name` monitorItemName,
            tmi.Alias monitorItemAlias,
            tmp.ID monitorPointID,
            tmp.`Name` monitorPointName,
            tmp.GpsLocation monitorPointLocation,
            tmp.InstallLocation installLocation,
            twl.`Name` warnName,
            twl.WarnLevel warnLevel,
            twl.WarnTime warnTime,
            twl.WarnContent warnContent,
            twl.DeviceToken deviceToken,
            twr.`Name` ruleName
        FROM
            tb_warn_log twl
            LEFT JOIN tb_project_info tpi ON twl.ProjectID = tpi.ID
            LEFT JOIN tb_monitor_item tmi ON twl.MonitorItemID = tmi.ID
            LEFT JOIN tb_monitor_type tmt ON twl.MonitorType = tmt.MonitorType
            LEFT JOIN tb_monitor_point tmp ON twl.MonitorPointID = tmp.ID
            LEFT JOIN tb_warn_trigger twt ON twl.triggerID = twt.ID
            LEFT JOIN `tb_warn_rule` twr ON twr.`ID` = twt.`RuleID`
        WHERE
            twl.WorkOrderID =#{param.workOrderID}
    </select>

    <select id="queryTerminalWarnList" resultType="cn.shmedo.monitor.monibotbaseapi.model.response.warn.WtWarnLogInfo">
        SELECT twl.`ID`        warnID,
               twl.WarnType    warnType,
               twl.`Name`      warnName,
               twl.WarnLevel   warnLevel,
               twl.WarnTime    warnTime,
               twl.WarnContent warnContent,
               twl.DeviceToken deviceToken,
               two.`ID`        workOrderID,
               two.OrderCode   orderCode,
               two.`Status`    orderStatus
        FROM `tb_warn_log` twl
                 LEFT JOIN `tb_work_order` two ON twl.WorkOrderID = two.ID
                 LEFT JOIN (SELECT MAX(WarnTime) latest_time, DeviceToken
                            FROM tb_warn_log  WHERE WarnType = 3 GROUP BY DeviceToken) twl1
                           ON twl.DeviceToken = twl1.DeviceToken
        <where>
            <choose>
                <when test="param.queryType == null or param.queryType == 2">
                    twl1.latest_time &gt; twl.WarnTime
                </when>
                <otherwise>
                    twl1.latest_time = twl.WarnTime
                </otherwise>
            </choose>
            AND twl.WarnType = 3
            <if test="param.warnLevel != null">
                AND twl.warnLevel = #{param.warnLevel}
            </if>
            <if test="param.beginTime != null">
                AND twl.WarnTime &gt;= #{param.beginTime}
            </if>
            <if test="param.endTime != null">
                AND twl.WarnTime &lt;= #{param.endTime}
            </if>
            <if test="param.status != null">
                AND two.`Status`=#{param.status}
            </if>
            <choose>
                <when test="param.orderType == null or param.orderType == 1">
                    ORDER BY twl.WarnTime DESC
                </when>
                <when test="param.orderType == 2">
                    ORDER BY twl.WarnTime ASC
                </when>
            </choose>
        </where>
    </select>

    <select id="queryTerminalWarnListByUniqueToken" resultMap="terminalWarnLogMap">
        SELECT
            tpi.`ID` projectID,
            tpi.ProjectName projectName,
            tpi.Location regionArea,
            tmi.`ID` monitorItemID,
            tmi.`Name` monitorItemName,
            tmp.`ID` monitorPointID,
            tmp.`Name` monitorPointName,
            tmp.GpsLocation monitorPointLocation,
            tmp.InstallLocation installLocation,
            tmt.ID monitorTypeID,
            tmt.TypeName monitorTypeName,
            tmt.TypeAlias monitorTypeAlias,
            LEFT(tsds.DataSourceToken,32) uniqueToken
        FROM
            `tb_sensor` ts
                INNER JOIN `tb_sensor_data_source` tsds ON tsds.DataSourceID = ts.DataSourceID
                INNER JOIN `tb_project_info` tpi ON ts.ProjectID = tpi.ID
                INNER JOIN `tb_monitor_type` tmt ON ts.MonitorType = tmt.MonitorType
                INNER JOIN `tb_monitor_point` tmp ON ts.MonitorPointID = tmp.ID
                INNER JOIN `tb_monitor_item` tmi ON tmp.MonitorItemID = tmi.ID
        <where>
            <foreach collection="uniqueTokens" open="(" close=")" item="item" separator="OR">
                tsds.DataSourceToken LIKE CONCAT(#{item}, '%')
            </foreach>
            <if test="param.monitorTypeID != null">
                AND tmt.monitorType = #{param.monitorTypeID}
            </if>
            <if test="param.monitorItemID != null">
                AND tmp.monitorItemID = #{param.monitorItemID}
            </if>
            <if test="param.projectIDList != null and !param.projectIDList.empty">
                AND tpi.ID IN
                <foreach collection="param.projectIDList" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryTerminalWarnDetail"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.warn.WtTerminalWarnDetailInfo">
        SELECT
            twl.`ID` warnID,
            twl.`Name` warnName,
            twl.WarnType warnType,
            twl.DeviceToken deviceToken,
            twl.WarnLevel warnLevel,
            twl.WarnContent warnContent,
            twl.WarnTime warnTime,
            twt.CompareRule compareRule,
            twt.TriggerRule triggerRule,
            twt.FieldToken fieldToken,
            two.ID workOrderID,
            two.OrderCode workOrderCode,
            twr.`Name` ruleName
        FROM tb_warn_log twl
             LEFT JOIN `tb_warn_trigger` twt ON twl.triggerID = twt.ID
             LEFT JOIN `tb_work_order` two ON twl.WorkOrderID = two.ID
             LEFT JOIN `tb_warn_rule` twr ON twr.`ID` = twt.`RuleID`
        WHERE twl.`ID` = #{warnID}
    </select>
</mapper>