<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shmedo.monitor.monibotbaseapi.dal.mapper.TbWorkOrderMapper">
    <select id="queryWorkOrderPage"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.workorder.WtWorkOrderInfo">
        SELECT
            two.ID workOrderID,
            two.OrderCode orderCode,
            two.`Type` typeID,
            (CASE two.`Type` WHEN 1 THEN '报警处置工单' WHEN 2 THEN '应急预案工单' WHEN 3 THEN '设备运维工单' WHEN 4 THEN '巡查巡检工单' ELSE 'unknown' END) typeName,
            two.Organization organizationName,
            two.Solution solution,
            two.DispatcherName dispatcherName,
            two.DispatchTime dispatchTime,
            two.DisposerName disposerName,
            two.DisposeTime disposeTime,
            two.`Status` `status`
        FROM
            tb_work_order two
            LEFT JOIN tb_warn_log twl ON two.ID = twl.WorkOrderID
        WHERE two.CompanyID=#{param.companyID}
        <if test="param.status != null and param.status != 0">
            AND two.`Status`=#{param.status}
        </if>
        <if test="param.workOrderTypeID != null">
            AND two.`Type`=#{param.workOrderTypeID}
        </if>
        <if test="param.startTime != null">
            AND two.DispatchTime &gt;= #{param.startTime}
        </if>
        <if test="param.endTime != null">
            AND two.DispatchTime &lt;= #{param.endTime}
        </if>
        <if test="param.sourceType != null">
            AND two.SourceType=#{param.sourceType}
        </if>
        <if test="param.queryCode != null and param.queryCode != ''">
            <choose>
                <when test="param.sourceType != 1">
                    AND (two.OrderCode LIKE CONCAT('%', #{param.queryCode}, '%')
                        OR two.DispatcherName LIKE CONCAT('%', #{param.queryCode}, '%')
                        OR two.DisposerName LIKE CONCAT('%', #{param.queryCode}, '%')
                        OR twl.`Name` LIKE CONCAT('%', #{param.queryCode}, '%')
                        OR twl.WarnContent LIKE CONCAT('%', #{param.queryCode}, '%'))
                </when>
                <otherwise>
                    AND (two.OrderCode LIKE CONCAT('%', #{param.queryCode}, '%')
                        OR two.DispatcherName LIKE CONCAT('%', #{param.queryCode}, '%')
                        OR two.DisposerName LIKE CONCAT('%', #{param.queryCode}, '%')
                        OR two.Organization LIKE CONCAT('%', #{param.queryCode}, '%')
                        OR twl.`Name` LIKE CONCAT('%', #{param.queryCode}, '%')
                        OR twl.WarnContent LIKE CONCAT('%', #{param.queryCode}, '%'))
                </otherwise>
            </choose>
        </if>
        ORDER BY two.DispatchTime DESC, two.CreateTime DESC
    </select>
    <select id="queryWorkOrderStatistics"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.workorder.WtWorkOrderStatisticsInfo"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.param.workorder.QueryWorkOrderStatisticsParam">
        SELECT
            COUNT( CASE WHEN two.`Status` = 1 THEN 1 END ) todoCount,
            COUNT( CASE WHEN two.`Status` = 5 THEN 1 END ) completedCount,
            COUNT( CASE WHEN two.`Status` IN ( 2, 3, 4 ) THEN 1 END ) processingCount
        FROM
            tb_work_order two
            LEFT JOIN tb_warn_log twl ON two.ID = twl.WorkOrderID
        WHERE
            two.CompanyID =#{param.companyID}
        <if test="param.projectID != null">
            AND twl.ProjectID=#{param.projectID}
        </if>
        <if test="param.sourceType != null">
            AND two.SourceType=#{param.sourceType}
        </if>
    </select>
    <select id="queryWorkOrderDetail"
            resultType="cn.shmedo.monitor.monibotbaseapi.model.response.workorder.WtWorkOrderDetailInfo"
            parameterType="cn.shmedo.monitor.monibotbaseapi.model.param.workorder.QueryWorkOrderWarnDetailParam">
        SELECT
            ID workOrderID,
            OrderCode orderCode,
            `Type` typeID,
            ( CASE `Type` WHEN 1 THEN '报警处置工单' WHEN 2 THEN '应急预案工单' WHEN 3 THEN '设备运维工单' WHEN 4 THEN '巡查巡检工单' ELSE 'unknown' END ) typeName,
            Organization organizationName,
            Solution solution,
            DispatcherName dispatcherName,
            DispatchTime dispatchTime,
            `Status` `status`
        FROM
            tb_work_order
        WHERE ID=#{param.workOrderID}
    </select>
</mapper>